body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main {
    max-width: 800px;
    margin-top: 20px;
}

h1 {
    color: #072f5a;
    margin-bottom: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: none; 
}

td {
    padding: 10px; /* Espaciado entre imágenes */
}

img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; /* Ajuste para mantener proporción de las imagenes y que no se deformen */
    border-radius: 8px; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

img:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.botones {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #072f5a;
    transform: scale(1.05); 
}

#panelDatos {
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

#panelDatos h2 {
    color: #072f5a; 
    margin-bottom: 10px;
    font-size: 20px; 
}

#panelDatos p {
    font-size: 16px; 
    color: #333; 
    line-height: 1.5; 
    margin: 0; 
}
